---
layout: custom_page
title: Projects
permalink: /projects/
---

<section class="title-section">
  <div>
    <h1>Current Projects</h1>
  </div>
</section>

<section
  class="parallax"
  style="background-image: url('/media/groupPhotos/meeting1.jpg')"
>
  <div class="project-grid">
    {% for project in site.current_projects %}
    <div class="project-box">
      <h3>{{ project.title }}</h3>
      {% if project.thumbnail %}
      <a href="{{ project.url | relative_url }}" class="project-image-link">
        <img
          src="{{ project.thumbnail }}"
          alt="{{ project.title }} thumbnail"
        />
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>

<section class="section" style="background-color: gray">
  <div>
    <h2>Future Project Ideas</h2>
  </div>
</section>

<section
  class="content-section parallax"
  style="background-image: url('/media/groupPhotos/meeting1.jpg')"
>
  <div class="project-grid">
    {% for project in site.future_projects %}
    <div class="project-box">
      <h3>{{ project.title }}</h3>
    </div>
    {% endfor %}
  </div>
</section>

<section class="section" style="background-color: #ba0c2f">
  <div>
    <h2>Past Projects</h2>
  </div>
</section>

<section
  class="content-section parallax"
  style="background-image: url('/media/groupPhotos/meeting1.jpg')"
>
  <div class="project-grid">
    {% for project in site.past_projects %}
    <div class="project-box">
      <h3>{{ project.title }}</h3>
      {% if project.thumbnail %}
      <a href="{{ project.url | relative_url }}" class="project-image-link">
        <img
          src="{{ project.thumbnail }}"
          alt="{{ project.title }} thumbnail"
        />
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
